body{
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	opacity: 0.8;
}
.banner{
	text-align:center;
	font-family: cursive;


}




.form1{
	margin-top: 10px;
	height: 160px;
	padding right: 80px;
    margin-left: 840px;
	margin-right: 100px;
	margin-bottom: 400px;

}

.form2{
	margin-top: -390px;
	height: 90px;
	padding right: 80px;
    margin-left: 840px;
	margin-right: 100px;
	margin-bottom: 400px;

}